ultralytics==8.0.149
streamlit==1.25.0
streamlit-webrtc==0.45.1
twilio==8.4.0
supervision==0.1.0
onemetric
python-dotenv
loguru
thop
lap
thop
numpy==1.23.5
git+https://github.com/samson-wang/cython_bbox.git#egg=cython-bbox
git+https://github.com/ifzhang/ByteTrack.git

#以下はいらない

#onnx
# onnxruntime
# onnx-simplifier
# cmake

# opencv-python-headless


